/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4.5rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  /* background-image: url(../../static/img/header-bg.png);
  background-position: center; */
}

header {
  background-image: url(../../static/img/header-bg.png);
  background-position: center;
  background-color: #0681d6;
  background-size: cover;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}